.form_container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
}

.form_container h1{
    text-align: center;
}

.form_container input[type='submit'] {
    border-radius: 8px;
    background-color: #25ba56;
    color: #fff;
    min-width: 100px;
    min-height: 2.5em;
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

.form_container input[type='submit']:hover {
    background-color: #1C8A42;
} 

.form_container p {
    margin-top: 1em;
}

.form_container p a{
    color: var(--main-bg-color);
    font-weight: bold;
}