:root {
  --um: #590313;
  --dois: #45788C;
  --tres: #F2D7B6;
  --quatro: #F2A35E;
  --cinco: #73482F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  color: var(--cinco);
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: var(--cinco);
}