:root {
  --main-bg-color: #16479D;
  --second-bg-color: #ffd400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  color: var(--main-bg-color);
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: var(--main-bg-color);
}